.phone-nav-container{
    width: 100%;
}
.phone-nav{
    width: 100%;
    height: 4rem;
    position: fixed;
    background: #000;
    // display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 11;
    display: none;
    
}


.phone-nav-left,
.phone-nav-right{
    display: flex;
    align-items: center;
    
    padding: 0 2rem;
}
.phone-nav-left{
    justify-content: flex-start;
    .phone-nav-logo{
        width: 3rem;
        
    }
}
.phone-nav-right{
    justify-content: flex-end;
    .phone-nav-translation{
        display: flex;
        position: relative;
        .phone-nav-translation-img{
            width: 1.2rem;
        }
        .phone-nav-translation-text{
            color: white;
            margin: 0 2rem 0 .5rem;
        }
        
        .phone-nav-translation-options-container{
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: -350%;
            left: -15%;
            background: black;
        }
        
        .phone-nav-translation-options-container-off{
            display: none;
        }
        
        .phone-nav-translation-options{
            display: flex;
            padding: 1rem 0 0 1rem;
        }
    }
    .phone-nav-icon{
        width: 1.6rem;
    }
    
    
}


@media only screen and (max-width: 1000px){
    .phone-nav{
        display: grid;
    }
}

