@import "../../../variables_SCSS/colors";

.homepage {
  width: 65vw;
  height: 100%;
  display: grid;
  grid-template-rows: 40vh 270px 40vh 1fr;

  background: #191919 url("../../../assets/images/homepage-background.jpg")
    no-repeat;
  background-position: top;
  background-size: contain;
}

.header-div {
  //   border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3rem;

  .header-text {
    color: $font-off-white;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: left;
    text-shadow: 1px 2px black;
    .header-span {
      font-size: 3.5rem;
    }
  }
}
.center-div {
  //   border: 1px solid green;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //   padding: 0 3rem 0 3rem;

  .center-align-container {
    width: 98%;
    height: 100%;
    display: flex;

    .rec-slider-container {
      margin: 0;
    }

    .rec-arrow-right {
      position: absolute;
      right: 0;
    }
    .rec-arrow-left {
      position: absolute;
      left: 0;
      z-index: 2;
    }
  }
}

.homepage-row-4 {
  width: 100%;
  display: flex;
  align-items: center;

  .hp-row-4-inner {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    background: $background-color;

    .hp-row-4-col-1 {
      height: 100%;
      width: 100%;
      background: url(../../../assets//images/hp-row-4-img.webp) no-repeat
        center;
      background-size: cover;
    }

    .hp-row-4-col-2 {
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .hp-row-4-col-2-heading {
        color: #ffcd11;
        font-size: 1.7rem;
        margin-bottom: 2.5rem;
      }
      .hp-row-4-col-2-body {
        color: $font-off-white;
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }

      .hp-row-4-col-2-btn {
        border: none;
        width: 10rem;
        height: 2.5rem;

        color: white;
        font-size: 1rem;
        background: #6f6f6f;
      }
    }
  }
}

.bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 5rem;
  // margin-bottom: 3rem;
  //   padding: 0 3rem 0 6.5rem;

  .bottom-news-container {
    width: 65vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: white;
  }
}
@media only screen and (max-width: 1366px) {
  .homepage-row-4 {
    width: 100%;
    display: flex;
    align-items: center;

    .hp-row-4-inner {
      width: 100%;
      height: 90%;
      display: grid;
      grid-template-columns: repeat(2, 50%);

      background: $background-color;

      .hp-row-4-col-1 {
        height: 100%;
        width: 100%;
        background: url(../../../assets//images/hp-row-4-img.webp) no-repeat
          center;
        background-size: cover;
      }

      .hp-row-4-col-2 {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        .hp-row-4-col-2-heading {
          color: #ffcd11;
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }
        .hp-row-4-col-2-body {
          color: $font-off-white;
          font-size: 1rem;
          margin-bottom: 1rem;
        }

        .hp-row-4-col-2-btn {
          border: none;
          width: 10rem;
          height: 2.5rem;

          color: white;
          font-size: 1rem;
          background: #6f6f6f;
        }
      }
    }
  }
}
@media only screen and (max-width: 1366px) {
  .homepage {
    width: 85vw;
    height: 100%;
    display: grid;
    grid-template-rows: 70vh 230px 40vh 1fr;

    background: #191919 url("../../../assets/images/homepage-background.jpg")
      no-repeat;
    background-position: top;
    background-size: contain;
  }

  .header-div {
    //   border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3rem;

    .header-text {
      color: $font-off-white;
      font-size: 3rem;
      font-weight: 800;
      text-align: left;

      .header-span {
        font-size: 3.5rem;
      }
    }
  }
  .center-div {
    //   border: 1px solid green;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //   padding: 0 3rem 0 3rem;

    .center-align-container {
      width: 98%;
      height: 100%;
      display: flex;
    }
  }
  .homepage-row-4 {
    width: 100%;
    display: flex;
    align-items: center;

    .hp-row-4-inner {
      width: 100%;
      height: 90%;
      display: grid;
      grid-template-columns: repeat(2, 50%);

      background: $background-color;

      .hp-row-4-col-1 {
        height: 100%;
        width: 100%;
        background: url(../../../assets//images/hp-row-4-img.webp) no-repeat
          center;
        background-size: cover;
      }

      .hp-row-4-col-2 {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        .hp-row-4-col-2-heading {
          color: #ffcd11;
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }
        .hp-row-4-col-2-body {
          color: $font-off-white;
          font-size: 1rem;
          margin-bottom: 1rem;
        }

        .hp-row-4-col-2-btn {
          border: none;
          width: 10rem;
          height: 2.5rem;

          color: white;
          font-size: 1rem;
          background: #6f6f6f;
        }
      }
    }
  }

  .bottom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 5rem;
    // margin-bottom: 3rem;
    //   padding: 0 3rem 0 6.5rem;

    .bottom-news-container {
      width: 85vw;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background: white;
    }
  }
}

@media only screen and (max-width: 900px) {
  .homepage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50vh 0.4fr 30vh 1fr;

    background: url("../../../assets/images/homepage-background.webp") no-repeat;
    background-position: left;
    background-size: cover;
  }
  .header-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2rem;

    .header-text {
      color: $font-off-white;
      font-size: 1.5rem;
      text-align: left;

      .header-span {
        font-size: 2rem;
      }
    }
  }

  .center-div {
    width: 100%;
    height: 100%;
    display: flex;

    padding: 0;

    .center-align-container {
      width: 100%;
      height: 100%;
      //   background: white;

      display: flex;
      flex-direction: column;
      //   align-items: center;
    }
  }
  .homepage-row-4 {
    width: 100%;
    display: flex;
    align-items: center;

    .hp-row-4-inner {
      width: 100%;
      height: 90%;
      display: grid;
      grid-template-columns: 1fr;

      background: $background-color;

      .hp-row-4-col-1 {
        height: 100%;
        width: 100%;
        background: url(../../../assets//images/hp-row-4-img.webp) no-repeat
          center;
        background-size: cover;
        display: none;
      }

      .hp-row-4-col-2 {
        padding: 0rem 2rem;
        display: flex;
        flex-direction: column;
        .hp-row-4-col-2-heading {
          color: $main-color;
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
        }
        .hp-row-4-col-2-body {
          color: $font-off-white;
          font-size: 0.9rem;
          margin-bottom: 1rem;
          font-family: "Open Sans";
          font-weight: 300;
        }

        .hp-row-4-col-2-btn {
          border: none;
          width: 8rem;
          height: 2rem;

          color: white;
          font-size: 0.9rem;
          background: #6f6f6f;
        }
      }
    }
  }

  .bottom-div {
    margin: 0;

    .bottom-news-container {
      width: 100%;
      // background: white;
      // display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}
