@import "../../../../variables_SCSS/colors";

.silica-sand-large-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  
  position: relative;
}

.silica-sand-large-page-inner {
  width: 85vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

// .silica-sand-large-page-col-1 {
//   //   border: 1px solid red;
// }

.silica-sand-large-header-container {
  padding-top: 3rem;
  //   border: 1px solid green;
  display: flex;
  flex-direction: column;

  .silica-sand-large-sub-header {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .silica-sand-large-header {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
  .silica-sand-large-paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}
.silica-sand-large-contact-container {
  margin-bottom: 1rem;
  .silica-sand-large-contact {
    font-size: 0.8rem;
    text-decoration: none;
    color: #3a7bb8;
  }
}
.silica-sand-large-body-title {
  font-size: 1rem;
}
.silica-sand-large-body-ul {
  list-style-position: inside;
  margin-bottom: 2rem;
  .silica-sand-large-body-li {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;

    margin-top: 0.5rem;
  }
}
.silica-sand-large-business-container {
  margin-bottom: 1rem;
  .silica-sand-large-business {
    // font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
  }
}

.silica-sand-large-delivery-container {
  display: flex;
  margin-bottom: 1rem;
  .silica-sand-large-delivery-icon {
    width: 1rem;
    margin-right: 1rem;
  }
  .silica-sand-large-delivery {
    font-family: "Open Sans", sans-serif;
    font-size: 0.5rem;
  }
}

.silica-sand-large-page-col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .silica-sand-large-col-2-product-img{
      margin-bottom: 1rem;
  }
  
  .silica-sand-large-page-col-2-btn{
      border: none;
      width: 15rem;
      height: 3rem;
      background: $main-color;
  }
}



//MEDIA QUERIES
@media only screen and (max-width: 768px) {
  .silica-sand-large-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
  }

  .silica-sand-large-page-inner {
    width: 85vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .silica-sand-large-page-col-1 {
    //   border: 1px solid red;
  }

  .silica-sand-large-header-container {
    padding-top: 6rem;
    //   border: 1px solid green;
    display: flex;
    flex-direction: column;

    .silica-sand-large-sub-header {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .silica-sand-large-header {
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
    .silica-sand-large-paragraph {
      font-family: "Open Sans", sans-serif;
      font-size: 0.8rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
  }
  .silica-sand-large-contact-container {
    margin-bottom: 1rem;
    .silica-sand-large-contact {
      font-size: 0.8rem;
      text-decoration: none;
      color: #3a7bb8;
    }
  }
  .silica-sand-large-body-title {
    font-size: 1rem;
  }
  .silica-sand-large-body-ul {
    list-style-position: inside;
    margin-bottom: 2rem;
    .silica-sand-large-body-li {
      font-family: "Open Sans", sans-serif;
      font-size: 0.8rem;

      margin-top: 0.5rem;
    }
  }
  .silica-sand-large-business-container {
    margin-bottom: 1rem;
    .silica-sand-large-business {
      // font-family: "Open Sans", sans-serif;
      font-size: 0.8rem;
    }
  }

  .silica-sand-large-delivery-container {
    display: flex;
    margin-bottom: 1rem;
    .silica-sand-large-delivery-icon {
      width: 1rem;
      margin-right: 1rem;
    }
    .silica-sand-large-delivery {
      font-family: "Open Sans", sans-serif;
      font-size: 0.5rem;
    }
  }

  .silica-sand-large-page-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 1rem;
  }
}
